/* index */
#htmx-content-container { transition: opacity 0.25s; }

/* components - hero */
#hero-text { text-shadow: 0 0 4px black;}

.hero-container {
  height: 20rem;
  width: 100vw;
}

.hero-item-container {
  position: absolute;
  height: 20rem;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-img {
  height: 20rem;
  width: 100vw;
  object-fit: cover;
  z-index: -100;
}

.hero-text { text-shadow: 0 0 4px black;}
