&nbsp;
<template id="hello-world">
  <div>Hello web components!</div>
</template>

<script>
  class HelloWorld extends HTMLElement {
    constructor() { /* called when the class is instantiated */
      super();
    }

    connectedCallback() {
      /*
      Called when the element is connected to the page.
      This can be called multiple times during the element's lifecycle.
      e.g. when using drag and drop to move elements around
     */
      const myTemplate = document.querySelector('#hello-world');
      const clone = document.importNode(myTemplate.content, true);
      this.appendChild(clone);
    }

    disconnectedCallback() {
     /*called when the element
       is disconnected from the page
     */
    }

  }

  customElements.define('hello-world', HelloWorld);

  console.log('hello');

</script>

<script>
  console.log(document.querySelector('#hello-world'));
</script>


<hello-world />
